<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyc.jchat.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.jyc.jchat.pojo.User">
    <!--@mbg.generated-->
    <!--@Table `User`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `password`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `User`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from `User`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jyc.jchat.pojo.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `User` (username, `password`)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jyc.jchat.pojo.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `User`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jyc.jchat.pojo.User">
    <!--@mbg.generated-->
    update `User`
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jyc.jchat.pojo.User">
    <!--@mbg.generated-->
    update `User`
    set username = #{username,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-02-04-->
  <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `User`
        where id=#{id,jdbcType=BIGINT}
    </select>


<!--auto generated by MybatisCodeHelper on 2022-02-04-->
  <select id="getFirstByUsername" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `User`
    where username=#{username,jdbcType=VARCHAR} limit 1
  </select>

  <!--auto generated by MybatisCodeHelper on 2022-02-04-->
</mapper>